<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Meetings
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="get_user_meetings($event)">
            <ion-refresher-content
            pullingText="Pull to refresh"
            refreshingText="Refreshing...">
          </ion-refresher-content>
    </ion-refresher>
   
    <ion-list *ngIf="meetings">
        <ion-item routerLink="/list/{{meeting.id}}" *ngFor="let meeting of meetings.data" class="font-weight-bold">
            <p>{{meeting.title}}</p>
            <ion-badge slot="end" color="dark">{{meeting.document_count}} Docs</ion-badge>
        </ion-item>
    </ion-list>

    <div *ngIf="!meetings">
        <div class="ion-padding custom-skeleton">
            <ion-list>
                <ion-item>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>

</ion-content>
